<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="test4.demo.com.flavordemo">

    <application
        tools:node="replace"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="flavorTest2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Flavor"
            android:screenOrientation="portrait" />
    </application>

</manifest>